<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="GW2EventMonitorInstaller" Language="1033" Version="1.0.0.0" Manufacturer="RuBa" UpgradeCode="e17125e8-5c37-4dc1-b89c-b03541a4cbbc">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="GW2EventMonitorInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="GW2EventMonitor" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id="GW2EventMonitor">
        <File Source="$(var.GW2EventMonitor.TargetPath)" />
      </Component>
      <Component Id="Persistance">
        <File Source="$(var.Persistance.TargetPath)" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>